footer.footer
    .footer-cols
        ul
            li
                a(href='#') Tìm cửa hàng gần nhất 
            li
                a(href='#') Mua hàng từ xa
            li
                a(href='#') Gặp trực tiếp cửa hàng gần nhất (Zalo hoặc gọi điện)
            li.img
                a(href='#')
                    img(alt='pay' src='./src/asset/lePaylogo.png')
            li.img
                a(href='#')
                    img(alt='pay' src='./src/asset/mocagrablogo.png')
            li.img
                a(href='#')
                    img(alt='pay' src='./src/asset/vnpaylogo.png')
            li.img
                a(href='#')
                    img(alt='pay' src='./src/asset/ZaloPaylogo.png')
        ul
            li
                a(href='#') Gọi mua hàng 1800.2097 (8h00 - 22h00)
            li
                a(href='#') Gọi mua hàng 1800.2097 (8h00 - 22h00)
            li
                a(href='#') Gọi khiếu nại 1800.2063 (8h00 - 21h30)
        ul
            li
                a(href='#') Mua hàng và thanh toán Online
            li
                a(href='#') Mua hàng trả góp Online
            li
                a(href='#') Tra thông tin đơn hàng
            li
                a(href='#') Tra điểm Smember
            li
                a(href='#') Tra thông tin bảo hành
            li
                a(href='#') Tra cứu hoá đơn điện tử
            li
                a(href='#') Trung tâm bảo hành chính hãng
            li
                a(href='#') Quy định về việc sao lưu dữ liệu
            li
                a(href='#') Dịch vụ bảo hành điện thoại
        ul
            li
                a(href='#') Khách hàng doanh nghiệp (B2B)
            li
                a(href='#') Ưu đãi thanh toán
            li
                a(href='#') Quy chế hoạt động
            li
                a(href='#') Chính sách Bảo hành
            li
                a(href='#') Liên hệ hợp tác kinh doanh
            li
                a(href='#') Tuyển dụng
    p.copyright
        | Copyright &copy;by 
        strong Thomas
