section.container
    .row.mt-5
        .col-img
            img.big-img(src='../../asset/apple/apple1.png' width='100%' height='auto' alt='')
            .small-img-group
                .small-img-col
                    img.small-img.small-1(src='../../asset/apple/apple1.png' width='80px' height='auto' alt='')
                .small-img-col
                    img.small-img.small-1(src='../../asset/apple/apple2.png' alt='' width='80px' height='auto')
                .small-img-col
                    img.small-img.small-1(src='../../asset/apple/apple3.png' alt='' width='80px' height='auto')
                .small-img-col
                    img.small-img.small-1(src='../../asset/apple/apple4.png' alt='' width='80px' height='auto')
        .col-info
            h2.brand Iphone 11 ProMax
            h3 11.190.000 &dstrok;
            .amount_buy
                input.input(type='number' value='1')
                button.button Add To Cart
            .product-details
                .product-advanced
                    h4 Tính năng nổi bật
                    ul
                        li Màu sắc phù hợp với cá tính - 6 màu sắc bắt mắt để lựa chọn
                        li Hiệu năng mượt mà, ổn định - Chip A13, Ram 4GB
                        li Bắt trọn khung hình - Camera kép hỗ trợ góc rộng, chế độ Night Mode
                        li Yên tâm sử dụng - Kháng nước, kháng bụi IP68, kính cường lực Gorilla
                .product-tech
                    h4 Thông số kỹ thuật của máy
                    ul
                        li
                            strong Công nghệ màn hình
                            | : OLED
                        li
                            strong Độ phân giải
                            | : 1170 x 2532 Pixels
                        li
                            strong Màn hình rộng
                            | : 6.1
                        li
                            strong Hệ điều hành
                            | : iOS 14
                        li
                            strong Chip xử lý (CPU)
                            | : Apple A14 Bionic 6 nhân
                        li
                            strong Bộ nhớ trong (ROM)
                            | : 128 GB
                        li
                            strong RAM
                            | : 4 GB
                        li
                            strong Mạng di động
                            | : Hỗ trợ 5G
                        li
                            strong Số khe sim
                            | : 1 Nano SIM - 1 eSIM
                        li
                            strong Dung lượng pin
                            | : 2815 mAh
