section.home-page
    .main-background
        .text-content
            h1.content-text Phone Mới Giá Mời
            p Ưu Đãi Ngập Trời
            a.btn-shop-now.btn-handle-router(href='#products')
                | Shop Now
    .logo-link
        a.face(href='#')
            ion-icon(name='logo-facebook')
        a.instagram(href='#')
            ion-icon(name='logo-instagram')
        a(href='#')
            ion-icon(name='logo-tiktok')
        a.face(href='#')
            ion-icon(name='logo-twitter')
    .block
        h1 Ưu đãi thanh toán
        .main-container
            a(href='#')
                img(src='./src/asset/sk1.png' alt='img')
            a(href='#')
                img(src='./src/asset/sk2.png' alt='img')
            a(href='#')
                img(src='./src/asset/sk3.png' alt='img')
            a(href='#')
                img(src='./src/asset/sk4.png' alt='img')
    .block
        h1 Chuyên trang thương hiệu
        .main-container
            a(href='#')
                img(src='./src/asset/sk5.webp' alt='img')
            a(href='#')
                img(src='./src/asset/sk6.webp' alt='img')
            a(href='#')
                img(src='./src/asset/sk7.webp' alt='img')
            a(href='#')
                img(src='./src/asset/sk8.webp' alt='img')
    .block
        h1 Tin công nghệ
        .main-container
            .main-item
                img(src='./src/asset/tin1.jpg' alt='img')
                div
                    h4
                        | Bật ngay tính năng Crash Detection cảnh báo sự cố va chạm xe ngay trên iPhone và Apple Watch
                    p
                        | Vừa qua Apple đã vừa cho ra mắt một tính năng “mới” giúp bạn dễ dàng phát hiện, cảnh báo...
                    button Xem thêm
            .main-item
                // <a href="#">
                img(src='./src/asset/tin2.jpeg' alt='img')
                div
                    h4
                        | Bật ngay tính năng Crash Detection cảnh báo sự cố va chạm xe ngay trên iPhone và Apple Watch
                    p
                        | Vừa qua Apple đã vừa cho ra mắt một tính năng “mới” giúp bạn dễ dàng phát hiện, cảnh báo...
                    // </a>
                    button Xem thêm
            .main-item
                // <a href="#">
                img(src='./src/asset/tin3.jpg' alt='img')
                div
                    h4
                        | Bật ngay tính năng Crash Detection cảnh báo sự cố va chạm xe ngay trên iPhone và Apple Watch
                    p
                        | Vừa qua Apple đã vừa cho ra mắt một tính năng “mới” giúp bạn dễ dàng phát hiện, cảnh báo...
                    // </a>
                    button Xem thêm
            .main-item
                // <a href="#">
                img(src='./src/asset/tin4.jpg' alt='img')
                div
                    h4
                        | Bật ngay tính năng Crash Detection cảnh báo sự cố va chạm xe ngay trên iPhone và Apple Watch
                    p
                        | Vừa qua Apple đã vừa cho ra mắt một tính năng “mới” giúp bạn dễ dàng phát hiện, cảnh báo...
                    // </a>
                    button Xem thêm
