extends base

block content

    section.resetPassword
            .title
                h1 Cập nhật mật khẩu mới
            form.formReset(action='')
                input#passwordReset(type='password' name='password' placeholder='Mật khẩu' required='' minlength='8')
                input#passwordConfirmReset(type='password' name='password' placeholder='Nhập lại mật khẩu' required='' minlength='8')
             
                button#buttonReset.button Xác nhận
            