extends base

block content

    section.forgetPassword
        .title
            h1 Nhập Email xác thực
        form(action='').formForget
            input#emailForget(type='email' name='email' placeholder='Email xác thực' required='')
            button#buttonForget Tiếp tục
